
.navbar {
  top: 0px;
  left: 0px;
  /* width: 1920px; */
  height: 137px;
  background: #601848 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #707070;
  opacity: 0.96;
}

.home {
  top: 46px !important;
  right: 535px !important;
  width: 102px !important;
  height: 46px !important;
  /* text-align: left !important; */
  font: Regular 33px/40px Montserrat !important;
  letter-spacing: 0px !important;
  /* color: #ffffff !important; */
  color: green !important;
  opacity: 1 !important;
}
.contact {
  top: 46px !important;
  left: 716px !important;
  width: 191px !important;
  height: 46px !important;
  text-align: left !important;
  font: Regular 33px/40px Montserrat !important;
  letter-spacing: 0px !important;
  color: #ffffff !important;
  opacity: 1 !important;
}
.tribe {
  top: 46px !important;
  left: 972px !important;
  width: 251px !important;
  height: 46px !important;
  text-align: left !important;
  font: Regular 33px/40px Montserrat !important;
  letter-spacing: 0px !important;
  color: #ffffff !important;
  opacity: 1 !important;
}

.menu {
  top: 46px !important;
  left: 1288px !important;
  width: 195px !important;
  height: 46px !important;
  text-align: left !important;
  font: Regular 33px/40px Montserrat !important;
  letter-spacing: 0px !important;
  color: #ffffff !important;
  opacity: 1 !important;
}

.img1 {
  top: 138px !important;
  width: 1899px !important;
  height: 1000px !important;
  /* opacity: 0.28 !important; */
}

.alert-warning {
  color: #856404 !important;
  background-color: #fff3cd !important;
  border-color: #ffeeba !important;
}

.alert {
  text-align: center;
  position: relative !important;
  /* padding: 0.75rem 1.25rem !important; */
  margin-bottom: 0rem !important;
  /* border: 1px solid transparent !important; */
  /* border-radius: 0.25rem !important; */
}

@media only screen and (max-width: 1072px) {
  .img1 {
    display: none;
  }
  .navbar {
    height: 13rem !important;
  }
}
